@import "tailwindcss";

/* Configuration de base de l'application */
body {
  background-color: #FFF9EE; /* Ton fond crème */
  color: #1F6680;           /* Ton bleu LisIA */
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}